:root {
  color-scheme: light;
  font: 18px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  letter-spacing: 0.18px;
  color: #1a1a1a;
  background: #f9f9f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  background: #f9f9f9;
}

#root {
  min-height: 100svh;
}
